<div class="footers">
  <div class="footers--container">
    <div class="footers--div-1">
      <h2 class="footers--title"><mat-icon fontIcon="store"></mat-icon> NFT Marketplace</h2>
      <h3 class="footers--texts">NFT marketplace UI created with Anima for Figma.</h3>
      <h3 class="footers--texts">Join our community</h3>
      <div class="footers--icons">
        <i class="footers--icons-icon bi bi-discord"></i>
        <i class="footers--icons-icon bi bi-youtube"></i>
        <i class="footers--icons-icon bi bi-twitter"></i>
        <i class="footers--icons-icon bi bi-instagram"></i>
      </div>
    </div>
    <div class="footers--div-2">
      <h2 class="footers--title">Explore</h2>
      <h3 class="footers--texts">Marketplace</h3>
      <h3 class="footers--texts">Rankings</h3>
      <h3 class="footers--texts">Connect a wallet</h3>
    </div>
    <div class="footers--div-3">
      <h2 class="footers--title">Join Our Weekly Digest</h2>
      <h3 class="footers--texts">Get exclusive promotions & updates straight to your inbox.</h3>
      <div>
        <form class="weekly--form-container-form">
          <div class="weekly--form-container-form-subscribe">
            <mat-form-field class="weekly--form-container-form-field footers--div-3-input">
              <mat-label class="weekly--form-container-form-label">Enter your email here</mat-label>
              <input class="weekly--form-container-form-input" matInput>
            </mat-form-field>
            <button class="weekly--form-container-form-button" mat-fab extended color="primary">
              <i class="weekly--form-container-form-button-icon bi bi-envelope"></i> Subscribe
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="footers--texts-finish">
    <hr>
    <h2 class="footers--texts-finish-juan">Developed by Juan Lucumi</h2>
  </div>
</div>
