//Work Sans
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
//Icons Bootstrap
@import "bootstrap-icons/font/bootstrap-icons.css";
//VARIABLES
$background-primary: #2B2B2B;
$background-secondary: #3B3B3B;
$color-caption-label-text: #858584;
$color-text: #FFFFFF;
$color-action: #A259FF;
$color-blue: #377DF7;
$color-red: #FF7262;
$fradient-1: linear-gradient(100.92deg, #A259FF 13.57%, #FF6250 97.65%);
$gradient-2: linear-gradient(128.15deg, #A259FF 49.75%, #377DF7 136.56%);

$h1-work-sans: normal 600 67px/67px "Work Sans";
$h2-work-sans: normal 600 51px/51px "Work Sans";
$h3-work-sans: normal 600 38px/38px "Work Sans";
$h4-work-sans: normal 600 28px/28px "Work Sans";
$h5-work-sans: normal 600 22px/22px "Work Sans";
$base-work-sans: normal normal 16px/16px "Work Sans";
$caption-work-sans: normal normal 16px/16px "Work Sans";
$body-work-sans: normal normal 22px/22px "Work Sans";



html, body { height: 100%; }
body {
  
  background-color: $background-primary;
  margin: 0;
  font-family: "Work Sans", sans-serif;
  color: $color-action;
}

///STYLES OF TABLES
.admin-table {
  height: 100vh;
  background-color: $background-primary;

  &--titlecontainer {
    height: 130px;
    display: flex;
  }

  &--titleprincipal {
    font: $h1-work-sans;
    text-align: center;
    margin: auto;
  }

  &--tablematerial {
    width: 60%;
    margin: auto;
  }

  &--table {
    padding: 30px;
    border-radius: 30px;
  }

  &--icon-edit {
    cursor: pointer;
    margin-right: 15px;
    margin-left: 50px;
    color: $color-blue;
  }

  &--icon-trash {
    cursor: pointer;
    color: $color-red;
  }

  &--table-column {
    width: 10% !important;
    text-align: center;
  }

 
}

th {
  font-weight: 700 !important;
}

th.mat-mdc-header-cell {
 
}

mat-paginator.mat-mdc-paginator {
  border-radius: 30px;
  margin-top: 10px;
}

///STYLES OF FORMS

.admin-form {
  background-color: $background-primary;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;


  &--container {
    background: $background-secondary;
    width: 100%;
    height: 100%;
  }

  &--title-container {
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &--title-principal {
    font: $h2-work-sans;
    margin: 0;
  }

  &--form-container {
    text-align: center;
  }

  &--form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 50px 150px;
  }

  &--form-grid {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &--image {
    background: url("https://s3nft.s3.us-east-2.amazonaws.com/Banner-1.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  &--input {
    width: 100%;
    padding: 0px 10px;
    border-radius: 30px;

    &-file {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      border: 4px dashed $color-action;
      height: 80%;
      width: 96%;
    }

    &-file-s {
      width: 50%;
      border-radius: 30px;
      padding: 10px;
      border: 3px solid $color-action;
      display: inline-block;
      cursor: pointer;
      background-color: $color-text;
      color: #000;

      &-off {
        height: 100%;
        width: 100%;
      }
    }
  }
}

.mat-mdc-text-field-wrapper.mdc-text-field {
  border-radius: 30px;
  height:100%;
}


.section-banner {
  width: 80%;
  margin: auto;
}

.section-top {
  margin: 200px auto 100px;
  width: 80%;
  
}

.section-categories {
  margin: 200px auto 100px;
  width: 80%;
  
}

.section-discover {
  margin: 200px auto 100px;
  width: 80%;
  
}

.section-highlight {
  margin: 200px 0 100px 0;
}

.section-works{
    width: 80%;
    margin: 0px auto 100px;
}

.section-weekly {
  width: 80%;
  margin: 0px auto 100px;
}

.section-creator{
    
}
